.btn{
    padding: 10px 1rem;
    background-color: var(--COLOR-btn-primary);
    border: none;
    border-radius: 5px;
    color: var(--COLOR-text);
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
}

.btn:hover{
    background-color: var(--COLOR-btn-primary-hover);
}