.post-card{
    background-color: var(--COLOR-secondary-bg);
    border: 1px solid var(--COLOR-border);
    padding: 2rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.post-header{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.author-icon{
    width: 50px;
    height: 50px;
}

.author-details{
    display: flex;
    flex-flow: column;
    margin-left: 1rem;
}

.post-content{
    display: flex;
    justify-content: center;
}

.post-cta{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.post-comments{
    display: flex;
    flex-flow: column;
}

.comment{
    display: flex;
    flex-flow: row;
    gap: 10px;
}

.comment p:first-of-type{
    font-weight: 900;
}